{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="text-center">
	<form style="max-width:380px;margin:auto" action="/landingLogin" method="POST">
		<h1 class="mt-5 mb-4">Login</h2>
		<div class="input-group mb-3">
			<span class="input-group-text">Codice Fiscale</span>
			<input type="text" required name="cf" class="form-control" placeholder="RSSMRA85T10A562S">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">Password</span>
			<input type="password" required name="pw" class="form-control" placeholder="password">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>	
</div>

	

{% endblock %}