{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="text-center">
	<form style="max-width:720px;margin:auto" action="/landingSignin" method="POST">
		<h1 class="mt-5 mb-4">Sign In</h2>
		<div class="input-group mb-3">
			<span class="input-group-text">Nome</span>
			<input type="text" required name="nome" class="form-control" placeholder="Mario">
			<span class="input-group-text">Cognome</span>
			<input type="text" required name="cognome" class="form-control" placeholder="Rossi">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">Codice Fiscale</span>
			<input type="text" required name="cf" class="form-control" placeholder="RSSMRA85T10A562S">
			<span class="input-group-text">Provincia</span>
			<select class="form-select" name="provincia">
				<option value="BG">Bergamo</option>
				<option value="BS">Brescia</option>
				<option value="MI">Milano</option>
			</select>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">Numero Telefono</span>
			<input type="tel" required name="tel" class="form-control" placeholder="0000000000">
			<span class="input-group-text">Password</span>
			<input type="password" required name="pw" class="form-control" placeholder="password">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">E-mail</span>
			<input type="email" required name="email" class="form-control" placeholder="username@example.com">
		</div>
		<div style="max-width:270px;margin:auto" class="accordion accordion-flush mb-3" id="accordionFlushExample">
			<div class="accordion-item">
			  <h2 class="accordion-header" id="flush-headingOne">
				<button style="max-height:30px" class="accordion-button collapsed" id="accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
				  Patologie
				</button>
			  </h2>
			  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body text-start">
					{% for patologia in patologie %}
					<ul class="list-group">
						<li class="list-group-item">
							<input class="form-check-input" type="checkbox" name="{{ patologia }}">
							{{ patologia }}
						</li>
					</ul>
					{% endfor %}
				</div>
			  </div>
			</div>
		  </div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>	
</div>


	

{% endblock %}